.course-list {
  &__container {
    height: calc(100vh - 130px);
    padding: 20px;
    background: #fff;

    /deep/ .ant-table {
      height: calc(100vh - 250px);
    }

    /deep/ .ant-table-placeholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100vh - 300px);
    }
  }

  &__header {
    display: flex;

    .search__container {
      width: 300px;
      margin-left: auto;

    }
  }
}
.upload-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .upload-container {
    width: 200px;
    height:200px;
    text-align: center;
    background: #e8e8e8;
    border-radius: 5px;
    .upload-icon {
      width: 150px;
      height:150px;
    }
  } 
  .select-course {

  }
}